@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
  background: none !important;
  color: var(--white);
}

.attribution a {
  color: hsl(228, 100%, 78%);
}
